<h1> Flights </h1>

<% if @flights.size == Flight.all.size %>
    <% @flights.each do |flight|%>
        <ul>
                <li><%= flight.date %></li>
                <div><%= flight.time.strftime("%H:%m") %></div>
                <div><%= flight.duration %></div>
                <div><%= flight.departure_airport.code %></div>
                <div><%= flight.arrival_airport.code %></div>
        </ul>
    <% end %>
<% else %>
    <% @flights.each do |flight|%>
        <% flight.number_of_passengers = params[:number_of_passengers]%>
        <ul>
                <li><%= flight.date %></li>
                <div><%= flight.time.strftime("%H:%m") %></div>
                <div><%= flight.duration %></div>
                <div><%= flight.departure_airport.code %></div>
                <div><%= flight.arrival_airport.code %></div>
                <div><%= flight.number_of_passengers %></div>
        </ul>
        <%= form_with url: "/bookings/new", method: :get do |f|%>
                <%= f.label :booking, "Book this flight" %>
                <%= f.radio_button :booking, "#{flight.id}" %> 
                <%= f.hidden_field :number_of_passengers, value: "#{flight.number_of_passengers}"%>
                <%= f.submit "Book" %>
        <% end %>
    <% end %>
<% end %>



<%= form_with url: "/flights", method: :get do |f|%>
    <%= f.select :departure_airport_id, @airport_options %>
    <%= f.select :arrival_airport_id, @airport_options %>
    <%= f.select :number_of_passengers, @number_options %>
    <%= f.select :date, @dates_options%>
    <%= f.submit "Search" %>
<% end %>
